.margin16px {
  margin: 16px;
}
.flex {
  display: flex;
}
.spaceBetween {
  display: flex;
  justify-content: space-between;
}
.widthFitContent {
  width: fit-content;
}
.justifyCenter {
  display: flex;
  justify-content: center;
}
.App {
  text-align: center;
}

.FlexColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.SpaceBetween {
  display: flex;
  justify-content: space-between;
}
.centerScreen {
  position: absolute;
  top: 25%;
  width: 100%;
  justify-content: center;
  display: grid;
}
.mapWidth {
  width: 50%;
  height: 50%;
}
